p {
    color: #606770;
}

.maindiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    left: auto;
    right: auto;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.fblogo {
    width: 20rem;
}

.formdiv {
    background-color: #FFFFFF;
    align-items: center;
    padding: 10px 16px;
}

.formdiv-head {
    display: flex;
    align-items: center;
    left: auto;
    right: auto;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 10px 16px;
    position: relative;
    width: 432px;
    z-index: 1;
}