.head1 {
    margin-top: 20px;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.userdiv {
    border: 1px solid rgb(167, 176, 189);
    border-radius: 4px;
    background-color: rgb(225, 226, 228);
    padding: 20px;
}

.username {
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    padding: 10px;
}

.repodiv {
    margin-top: 20px;
    margin-bottom: 20px;
}
