<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label><b>Upload a file:</b></label><br><br>
      <input type="file" name="profileImage">
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
