.formfield {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formfield1 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: bold;
}

.form-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-field {
    margin-top: 10px;
    margin-bottom: 10px;
}